body {
	font: 26px/1.63 'Montserrat', sant-serif;
	font-family: 'Montserrat';
	color: var(--main-text-color);
	font-size: 14px;
	transition: background .2s ease, color .2s ease;

	@include viewport-md {
		font-size: 10px;
	}
}

a {
	color: $hover-color;

	&:hover {
		color: $accent-color;
	}
}

.gradient-text {
	@include text-grad;
}

.text-tab {
	@include text-tab;
}

h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.2;
}

h3 {
	font-size: 22px;
	font-weight: 700;
}

h4 {
	font-size: 16px;
	font-weight: 700;
}

.d-none {
	display: none;
}

.d-sm-block {
	@media screen and (min-width: $breakpoint-md) {
		display: block;
	}

}

.d-md-block {
	@media screen and (min-width: $breakpoint-lg) {
		display: block;
	}

}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 30px;

	@media screen and (min-width:$breakpoint-md) {
		padding: 0 60px;
		
	}
}

.bg-box {
	color: #fff;
	background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
	border-radius: 0 0 12px 12px;

	a {

		text-decoration: none;
	}
}

.cat-link {
	color: $hover-color;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;

	&:after {
		content: '';
		width: 9px;
		height: 9px;
		border-color:inherit;
		border-width: 3px 3px 0 0;
		border-style: solid;
		display: inline-block;
		transform: rotate(45deg);
		margin-left: 2px;
	}

	&:hover {
		color: $accent-color;
	}



}
