body {
	font:26px/1.63 'Montserrat', sant-serif;
	font-family: 'Montserrat';
	color: var(--main-text-color);
	font-size: 14px;
	transition: background .2s ease, color .2s ease;
	@include viewport-md {
		font-size: 10px;
	}
}

.wrapper {
	min-height: 100vh;
	min-width: 375px;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0 30px;
}