.intro {
    min-height: 100vh;
    padding: 140px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/src/img/webp/Symbol.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 -30px;
    //background-size: 100vh;


    &__title {
        text-transform: lowercase;
        text-align: center;
        font-size: 38px;
        line-height: 1.2;
        font-weight: 700;
    }

    &__anchor {
        position: absolute;
        left: 50%;
        top: 90vh;
        transform: translateX(-50%);

    }
}

.part-h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 30px;
}



.services {

    &__title {
        font-size: 38px;
        font-weight: 700;
        line-height: 1.2;
        background: $gradient-red-text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 0;
        gap: 60px;


    
    

        
    }

    span {
        font-size: 14px;
        font-weight: 700;
        color: #24A3FF;
        margin-bottom: 10px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    

        &:hover {
            color: $accent-color;
            
            
            svg {
                stroke: $accent-color;
            }
        }
    
        svg {
            stroke: #24A3FF;
            margin-left: 5px;
        }
    }

    &__content-card {
        width: calc((100% - 120px) / 3);
        
        @media screen and (max-width: $breakpoint-md) {
            width: calc((100% - 60px) / 2);
        }

        @media screen and (max-width: 375px) {
            width: 100%;
        }

    

        h3 {
            font-size: 22px;
            font-weight: 700;
            color: $active-color;
            margin-top: 30px;
            margin-bottom: 15px;
            cursor: pointer;

            &:hover {
                color: $accent-color;
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
    }
}


.part {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    
    li {
        width: 25%;

        @media screen and (max-width: 1020px) {
            width: 50%;
        }

        @media screen and (max-width: 486px) {
            width: 100%;
        }

    }

    



    a {
        height: 120px;
        padding: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        max-height: 100%;

    }

    
}




