.intro {
    min-height: 100vh;
    padding: 140px 20px;
    display: flex;
    align-items: center;
    justify-content: center;


    &__title {
        text-transform: lowercase;
        text-align: center;
        font-size: 38px;
        line-height: 1.2;
        font-weight: 700;
    }
}